@import "tailwindcss";
@import "./assets/fonts/Pretendard-1/pretendard.css";

@theme {
  --color-soft-black: #404040;
}

body {
  font-family: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes float1 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(80px, -100px) scale(1.2);
  }
  66% {
    transform: translate(-60px, 80px) scale(0.85);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(-100px, 90px) scale(0.85);
  }
  66% {
    transform: translate(120px, -70px) scale(1.2);
  }
}

@keyframes float3 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(70px, 110px) scale(1.15);
  }
  66% {
    transform: translate(-90px, -80px) scale(0.9);
  }
}

@keyframes float4 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(-110px, -70px) scale(0.9);
  }
  66% {
    transform: translate(100px, 90px) scale(1.15);
  }
}
